.title-product{
  margin: 20px 0;
}

.product-card {
  display: flex; /* Sử dụng Flexbox để sắp xếp nội dung */
  border: 1px solid #efc5c5;
  padding: 10px;
  width: 500px; /* Để có 2 sản phẩm trên mỗi hàng, đặt chiều rộng là 45% và đặt margin để tạo khoảng cách */
  margin: 10px;
}

/* Thiết lập kiểu cho hình ảnh sản phẩm */
.product-thumbnail img {
  max-width: 200px;
  max-height: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Thiết lập kiểu cho tiêu đề sản phẩm */
.product-title {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 30px 10px ;
  text-align: center;
}

/* Thiết lập kiểu cho mô tả sản phẩm */
.product-description {
  font-size: 14px;
  color: #555;
  margin: 2px 0;
}

/* Thiết lập kiểu cho giá sản phẩm */
.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #ff5722;
}

/* Thiết lập kiểu cho thời gian còn lại */
.product-time-remaining {
  font-size: 14px;
  color: #777;
}

/* Thiết lập kiểu cho phần footer của sản phẩm */
.product-foot {
  margin-top: 10px;
}
.product-info {
  margin-left: 10%;
}
